<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Artist</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onOptionSelected($event.option.value)"
    >
      @for (artist of filteredOptions | async; track artist.id) {
      <mat-option [value]="artist">
        <div>{{artist.name}}</div>
        <div [style.font]="'var(--mat-sys-body-small)'">
          {{artist.area?.name}}
        </div>
      </mat-option>
      }
    </mat-autocomplete>
    <mat-progress-bar *ngIf="isLoading | async" mode="indeterminate" />
  </mat-form-field>
</form>

<style>
  .example-full-width {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
</style>
